
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]="status">
        <mat-list>
            <div mat-subheader>Folders</div>
            <mat-list-item *ngFor="let folder of folders">
              <mat-icon mat-list-icon>folder</mat-icon>
              <div mat-line>{{folder.name}}</div>
              <div mat-line> {{folder.updated | date}} </div>
            </mat-list-item>
           
        </mat-list>
          
    </mat-drawer>
    <mat-drawer-content>
        <div class="content">
            <app-toolbar (toggleSidenave)="sidebar()"></app-toolbar>
        </div>
    </mat-drawer-content>
  </mat-drawer-container>
  